<div class="center hero-unit">
	<div class="row">
		<div class="span4 splash">
			<%= image_tag("iphone5.png") %>
		</div>

		<div class="span5">
			<h2>Welcome to the Contact Exchange</h2>

			<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
			<br />or <%= link_to "Sign in", '#' %>
		</div>
	</div>
</div>